<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>testpage</title>
</head>
<body>
  <div id="segTree">
    <table>
      <tr v-for="(row, i) in rowSize">
        <td :class="{selected: selected[2**i+j]}" v-for="(col, j) in 2**i" v-bind:colspan="size/(2**i)">
          <strong>{{ names[2**i+j].join('') }}</strong>
          <p>{{ getValue(2**i+j) }}</p>
          <!--<p>{{ values[2**i+j]!=Number.POSITIVE_INFINITY ? values[2**i+j]!=Number.NEGATIVE_INFINITY ? values[2**i+j] : '-∞' : '∞' }}</p>-->
        </td>
      </tr>
    </table>
    <p>type : 
      <select v-model="typeOfSegmentTree" id="segmentTreeOperator">
      </select></p>
    <p>n = <input class="intinput" v-model="n">(1<=n<=64 is recommended)</p>
    <p>A = <input v-model="arr"> <button v-on:click="randomfill">random fill</button></p>
    <button v-on:click="init">initialize</button>
    <p>l = <input class="intinput" v-model="l"> r = <input class="intinput" v-model="r"></p>
    <button v-on:click="query">query</button>  {{ operationName }} of [{{ l }}, {{ r }}) = {{ res }}
    <p>i = <input class="intinput" v-model="i"> x = <input class="intinput" v-model="x"> </p>
    <button v-on:click="update">update</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./Monoid.js"></script>
  <script src="./monoidList.js"></script>
  <script src="test.js"></script>
</body>
</html>