<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>testpage</title>
</head>
<body>

  <div id="segTree">
  
    <table>
      <tr v-for="(row, i) in rowSize">
        <td :class="{selected: selected[2**i+j]}" v-for="(col, j) in 2**i" v-bind:colspan="size/(2**i)">
          <strong>{{ names[2**i+j].join('') }}</strong>
          <p>{{ getValue(2**i+j) }}</p>
          <!--<p>{{ values[2**i+j]!=Number.POSITIVE_INFINITY ? values[2**i+j]!=Number.NEGATIVE_INFINITY ? values[2**i+j] : '-∞' : '∞' }}</p>-->
        </td>
      </tr>
    </table>
    
    <div class="select-type">
      <p>
        type : <select v-model="typeOfSegmentTree" id="segmentTreeOperator"></select>
      </p>
    </div>
    
    <div class="input-treesizevalues">
      <p>
        n = <input class="intinput" v-model="n">(1<=n<=64 is recommended)
      </p>
    </div>
    
    <div class="input-initializedleafvalues">
      <p>
        A = <input v-model="arr"> <button v-on:click="randomfill">random fill</button>
      </p>
    </div>
    
    <div class="initialize-button">
      <button v-on:click="init">initialize</button>
    </div>
    
    <div class="input-queryvalues">
      <p>
        l = <input class="intinput" v-model="l">
        r = <input class="intinput" v-model="r">
      </p>
    </div>

    <div class="query-button">
      <button v-on:click="query">query</button>  
      {{ operationName }} of [{{ l }}, {{ r }}) = {{ res }}
    </div>

    <div class="input-updatevalues">
      <p>
        i = <input class="intinput" v-model="i">
        x = <input class="intinput" v-model="x"> 
      </p>
    </div>

    <div class="update-button">
      <button v-on:click="update">update</button>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./Monoid.js"></script>
  <script src="./monoidList.js"></script>
  <script src="test.js"></script>
</body>
</html>